.mail-details {
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: 1em;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 80px 1fr 1em;
    grid-template-rows: repeat(3, 48px) 1fr;
    height: 100vh;
    margin-bottom: 1em;
    padding-bottom: 2em;
    background-color: white;
}

.mail-details .tool-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em;
    margin-right: 1em;
    height: 3em;
    grid-row: 1;
    grid-column: 1/-1;
}

.mail-details .tool-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: #444444;

    border: none;
    cursor: pointer;

    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.mail-details .tool-bar button:hover {
    background-color: var(--clr-search-bar-shadow-read-filter);
}

.mail-details .body-details {
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 48px 60px 1fr;

    grid-column: 1/-1;
    grid-row: 2/-1;
}

.mail-details .body-details::-webkit-scrollbar {
    display: none;
}

.mail-details .body-details .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 2;
    grid-row: 1;

    width: 100%;
}

.mail-details .header button {

    font-size: 0.875rem;
    color: #444444;

    border: none;
    cursor: pointer;

    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.mail-details .header button:hover {
    background-color: var(--clr-search-bar-shadow-read-filter);
}

.mail-details .body-details .header h2 {
    font-weight: 300;
    font-size: 1.375rem;
}

.mail-details .body-details .sender-details {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: 2;
    grid-column: 1/-1;
}

.mail-details .body-details .sender-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    grid-column: 1;
    display: block;
    place-self: center center;
}

.mail-details .body-details .sender-details img:hover {
    outline: 3px solid var(--clr-search-bar-shadow-read-filter);
}

.mail-details .body-details .sender-details .information {
    display: flex;
    align-items: flex-start;
    width: 100%;
    grid-column: 2;
    place-self: center;
}

.mail-details .body-details .sender-details>div .name {
    font-size: 0.875rem;
    font-weight: 700;
}

.mail-details .body-details .sender-details>div p {
    font-size: 0.75rem;
    margin: 0;
    color: var(--clr-from-mail);
}

.mail-details .body-details .sender-details>div .from {
    padding-left: 3px;
    margin-right: auto;
}

.mail-details .body-details h4 {
    grid-column: 2;
    grid-row: 3;
}