.side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 126px;
    bottom: 0;
    left: 0;

    z-index: 8;

    width: 72px;
    background-color: var(--clr-bg-side-bar);
    transition: 0.4s;
}

.side-bar:hover,
.side-bar.open {
    width: 256px;
}

.side-bar .compose-container {
    margin: 0.5em 0 1em;
    padding: 0 0 0 0.5em;

}

.side-bar .compose-container .compose-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 0.875rem;
    line-height: 2.2857143em;

    padding: 0;
    padding-left: 1.2857143em;

    min-width: 4em;
    height: 4em;
    border-radius: 1.1428571em;

    background-color: var(--clr-composed-btn-side-bar);
    color: var(--clr-selected-side-bar);
    border: none;

    cursor: pointer;
    transition: 0.4s;
}

.side-bar .compose-container .compose-btn::after {
    content: 'Compose';
    margin-left: 0.6em;
    opacity: 0;
    width: 0;
    transition: 0.1s;
}

.side-bar:hover .compose-btn,
.side-bar.open .compose-btn {
    min-width: 8.428571em;
    padding-right: 1.71428857em;
}

.side-bar:hover .compose-btn:after,
.side-bar.open .compose-btn:after {
    opacity: 1;
    width: fit-content;
}


.side-bar .compose-container .compose-btn i {
    font-size: 1.25rem;
}

.side-bar .compose-container .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);

}


.side-bar .btn::before {
    display: inline-block;

    content: attr(title);
    position: absolute;
    /* font-size: 0.675rem; */

    top: 50%;
    left: 50px;

    translate: 0 -50%;

    display: none;


}

.side-bar .btn::after {
    display: inline-block;

    content: attr(title-2);
    position: absolute;

    top: 50%;
    left: 75%;

    translate: 0 -50%;

    display: none;
    border-left: 1px solid blue;
    padding-left: 1em;

}

.side-bar:hover .btn::before,
.side-bar.open .btn::before {
    display: block;

}

.side-bar:hover .btn::after,
.side-bar.open .btn::after {
    display: block;

}


.side-bar .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    font-size: 0.875rem;


    background: none;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: none;

    padding: 0 6px;
    margin-left: 1.625em;

    cursor: pointer;
    transition: 0.3s;
}


.side-bar:hover .btn,
.side-bar.open .btn {
    justify-content: flex-start;

    background: none;
    height: 30px;
    width: 80%;

    border-radius: 0 1em 1em 0;
    border: none;

    padding: 0 6px;
    padding-left: 1.625em;
    margin-left: 0;

    cursor: pointer;
}


.side-bar .btn .unread-mails {
    position: absolute;

    top: 5px;
    right: 7px;

    width: 0.5em;
    height: 0.5em;

    background-color: red;
    border-radius: 50%;
    transition: 0.4s;
}


.side-bar:hover .btn .unread-mails,
.side-bar.open .btn .unread-mails {
    opacity: 0;
    width: 0;
    height: 0;
}


.side-bar .btn:hover {
    background-color: var(--clr-search-bar-shadow-read-filter);

}

.side-bar .btn.active {
    background-color: var(--clr-selected-btn-side-bar);
    font-weight: bold;
}