.side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 8;

    overflow-y: scroll;
    height: 100vh;
    width: 0;
    top: 0;
    background-color: white;
    transition: 0.4s;

    padding: 1em 0;

}

.side-bar.open-mobile {
    width: 80%;

}

.side-bar::-webkit-scrollbar {
    display: none;
}

.side-bar .compose-container {
    display: none;
    margin: 0.5em 0 1em;
    padding: 0 0 0 0.5em;

}

.side-bar .compose-container .compose-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 0.875rem;
    line-height: 2.2857143em;

    padding: 0;
    padding-left: 1.2857143em;

    min-width: 4em;
    height: 4em;
    border-radius: 1.1428571em;

    background-color: var(--clr-composed-btn-side-bar);
    color: var(--clr-selected-side-bar);
    border: none;

    cursor: pointer;
    transition: 0.4s;
}

.side-bar .compose-container .compose-btn::after {
    content: 'Compose';
    margin-left: 0.6em;
    display: none;
    transition: 0.1s;
}


.side-bar .compose-container .compose-btn i {
    font-size: 1.25rem;
}

.side-bar .compose-container .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);

}

.side-bar .btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.875rem;

    background: none;
    height: 80px;
    width: 80%;

    border-radius: 0 1em 1em 0;
    border: none;

    padding: 0 6px;
    padding-left: 1.625em;
    margin-left: 0;

    cursor: pointer;
    position: relative;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    transition: 0.3s;
}

.side-bar .btn::before {
    content: attr(title);
    position: absolute;

    top: 50%;
    left: 50px;

    translate: 0 -50%;

    display: block;
}

.side-bar .btn::after {
    content: attr(title-2);
    position: absolute;

    top: 50%;
    left: 200px;
    translate: 0 -50%;

    display: block;
    border-left: 1px solid blue;
    padding-left: 1em;

}

.side-bar .btn:hover {
    background-color: var(--clr-search-bar-shadow-read-filter);
}

.side-bar .btn.active {
    background-color: var(--clr-selected-btn-side-bar);
    font-weight: bold;
}

.side-bar .labels {
    margin-top: 66px;
    width: 100%;
}

.side-bar .labels .add-label::before {
    display: inline-block;

    content: attr(title);
    position: absolute;
    font-size: 1rem;

    top: 50%;
    left: 50px;

    translate: 0 -50%;

    display: none;
}


.side-bar .user-labels {
    margin-top: 18px;
}

.side-bar .user-labels .btn.label {
    position: relative;
}

.side-bar .user-labels .btn.label span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 85%;
    scale: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    color: gray;
    transition: 0.2s;
}


.side-bar .user-labels .btn.label span:hover {
    background-color: var(--clr-search-bar-shadow-read-filter-hover);
    color: black;
    scale: 1.02;
}

.side-bar .user-labels .btn.label.active {
    background-color: var(--clr-search-bar-shadow-read-filter);
}

.side-bar .user-labels .btn.label::before {
    font-size: 0.875rem;
    font-weight: 300;
    color: black;
}

.side-bar .user-labels .btn.label.active::before {

    font-weight: bold;

}