:root {
    --main-bg-color: lightblue;

    --clr-mail: #ffffff;
    --clr-mail-read: #f2f6fc;

    --clr-mail-list-body: rgb(95, 99, 104);

    --clr-bg-side-bar: #f6f8fc;
    --clr-composed-btn-side-bar: rgb(194, 231, 255);
    --clr-selected-side-bar: #001d35;

    --clr-mail-list-btn-shadow: rgba(100, 121, 143, 0.12);
    --clr-search-bg: #eaf1fb;

    --clr-selected-btn-side-bar: #d3e3fd;
    --clr-compose-header-bg: #f2f6fc;
    --clr-compose-header: #041e49;
    --clr-compose-send-btn: #0b57d0;

    --clr-search-bar-shadow-read-filter: rgba(60, 64, 67, .1);
    --clr-search-bar-shadow-read-filter-hover: rgba(60, 64, 67, 0.229);

    --clr-note-main-bcg : #1f2224;
    --clr-note-filter-bcg : #525456;
    --clr-note-border : #606368;
}