:root {
    --main-bg-color: lightblue;

    --clr-mail: #ffffff;
    --clr-mail-read: #f2f6fc;

    --clr-mail-list-body: rgb(95, 99, 104);

    --clr-bg-side-bar: #f6f8fc;
    --clr-composed-btn-side-bar: rgb(194, 231, 255);
    --clr-selected-side-bar: #001d35;

    --clr-mail-list-btn-shadow: rgba(100, 121, 143, 0.12);
}