.note-filter {
  display: flex;
  align-items: center; 
  margin-bottom: 1.5em; 
  padding: 0.3em;
  border-bottom: var(--clr-note-border) 1px solid;
}

.note-filter form {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 8px; 
  margin-left: 2em;
}

.note-filter input[type="text"],
.note-filter select {
  background-color: var(--clr-note-filter-bcg);
  border-radius: 5px; 
  border: none;
  padding: 1em;
  margin-right: 10px;
  color: white;
  position: relative; /* Ensure positioning context for pseudo-elements */
}

.note-filter input[type="text"]{
  width: 30em;
}

.icon-text{
  color: white;
}
.icon-list{
  color: white;

}

.icon-image {
  left: calc(100% - 100px); 
  color: white;

}

.note-filter form:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7); 
}

.keep-logo {
  width: 3%;
  margin-top: 0.5em;
  margin-left: 1em;
}

.note-filter form select option {
  background-color: #212121;
}