/* Note List */
.note-list {
  column-count: 5; /* Adjust the number of columns as needed */
  column-gap: 1em; /* Gap between the columns */
  padding: 6em;
  height: 100%;
  overflow: auto; /* Allow scrolling if content overflows */
}

.note-item {
  background-color: #f4f4f4;
  border: white 1px solid;
  border-radius: 10px;
  padding: 1em;
  color: white;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%; /* Ensures the note item takes up the full width of its column */
  transition: transform 0.2s ease-in-out;
}

.note-item:hover {
  transform: scale(1.05); /* Scale the note slightly on hover */
}

.note-item img{
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}


.note-buttons {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}





