 /* mail index  */

 .mail-index {
     display: grid;
     grid-template-rows: 63px 1fr;
     grid-template-columns: 1fr;
     background-color: var(--clr-bg-side-bar);
     height: 100vh;
     overflow: hidden;
 }


 .mail-index .mail-index-body {
     display: grid;
     grid-template-columns: 73px 1fr;

     line-height: 20px;
     font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

     transition: 0.2s;
 }

 .mail-index:has(.side-bar.open) .mail-index-body {
     grid-template-columns: 256px 1fr;
 }