*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;

}

body {
  background-color: var(--clr-main-bg);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

p {
  margin: 0 0 1em;
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration: underline;
}

input,
button,
textarea,
select {
  font: inherit;
  max-width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}