.note-index {
    background-color: var(--clr-note-main-bcg);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  }
  
  .note-add {
    display: grid;
    justify-items: center;
  }
  

  
