.user-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 0.2em 1em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    color: white;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 2px;
    z-index: 9999;
    font-size: 0.875rem;
}

.user-msg.success {
    background-color: rgb(0, 62, 0);
    color: white;
}

.user-msg.error {
    background-color: rgb(141, 0, 21);
    color: white;
}


.user-msg button {
    float: right;
    margin: 1em;
    display: none;
}